DATABASE_URL=postgres://cryptopoker:cryptopoker@localhost:5432/cryptopoker
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=cryptopoker
POSTGRES_PASSWORD=cryptopoker
POSTGRES_DB=cryptopoker
WEB_ORIGIN=http://localhost:3000
PORT=4000
